//
//  Debug-Previews.xcconfig
//  Brickie
//
//  Created by Brian Batchelder on 1/6/22.
//  Copyright © 2022 Homework. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) DEBUG_PREVIEWS
